{% extends "index" %}

{% block content %}

    {% include 'products.twig' %}

    <section class="about" id="about">
        <div class="about-content">
            <h2>{{ entry.aboutTitle }}</h2>
            <p>{{ entry.aboutDescription }}</p>
        </div>
    </section>

{% endblock %}