<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% include 'partials/header.twig' %}

    {% block content %}

        {% include 'home.twig' %}

    {% endblock %}

    

    {% include 'partials/contact-footer.twig' %}

    <script src="{{ siteUrl }}static/js/script.js"></script>
</body>
</html>