<header>
        <a href="#" class="logo">FUNBAGS</a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#shop">Shop</a></li>
            <li><a href="#about">Over</a></li>
            <li><a href="#faq">Faq</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="icons">
            <a href="#"><i class='bx bx-search'></i></a>
            <a href="#"><i class='bx bxs-user-circle' ></i></a>
            <a href="#"><i class='bx bxs-shopping-bag' ></i></a>
        </div>
</header>